@media (min-width: 0px) and (max-width: 599px) {
    .container {
        width: 100%;
        padding: 0px 16px;
    }
    .feature-gap {
        margin-top: 40px!important;
        margin-bottom: 40px!important;
    }
    .section {
        margin-top: 40px!important;
        margin-bottom: 40px!important;
    }
}

@media (min-width: 600px) and (max-width: 1239px) {
    .container {
        width: 100%;
        padding: 0px 48px;
    }
    .feature-gap {
        margin-top: 40px!important;
        margin-bottom: 40px!important;
    }
    .section {
        margin-top: 40px!important;
        margin-bottom: 40px!important;
    }
}

@media (min-width: 1240px) {
    .container {
        width: 1240px;
        padding: 0px;
    }
    .feature-gap {
        margin-top: 96px!important;
        margin-bottom: 72px!important;
    }
    .section {
        margin-top: 90px!important;
        margin-bottom: 80px!important;
    }
}